
.line-chart .line {
  fill: none;
}
.line-chart .line path {
  stroke: #3c8de3;
  stroke-width: 2;
}
.line-chart rect {
  fill: #135ACA;
}
.line-chart circle {
  fill: white;
  stroke: #135ACA;
  stroke-width: 2px;
}

.line-chart .y-axis path {
  stroke: #dedede;
}
.line-chart .y-axis line {
  stroke: #dedede;
}

.line-chart .x-axis, .y-axis {
  shape-rendering: crispEdges;
}

.line-chart .y-axis text {
  fill: grey;
  font-size: 10px;
  font-weight: 300;
}
.line-chart .x-axis .tick {
  fill: grey;
  font-size: 12px;
}
.line-chart .x-axis path {
  stroke: #dedede;
}
.line-chart .x-axis line {
  stroke: #dedede;
  stroke-width: 1;
  stroke-dasharray: 10,10;
}
.line-chart .x-axis text {
  fill: grey;
  font-size: 10px;
  font-weight: 300;
}
.line-chart.tooltip {
  transition: all 0.1s;
  width: 110px;
  position: absolute;
  padding: 15px;
  vertical-align: middle;
  font-size: 14px;
  background: rgba(97, 110, 223, 0.9);
  pointer-events: none;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
}
.line-chart.tooltip span {
  color: white;
  display: block;
  font-weight: 500;
  font-family: helvetica, arial, sans-serif;

}
.line-chart.tooltip span.number {
  font-weight: 300;
  font-family: helvetica, arial, sans-serif;
  
}

.line-chart.tooltip:after {
  content: '';
  position: absolute;
  left: calc(50% - 7px);
  bottom: -6px;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 6px solid rgba(97, 110, 223, 0.9);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.hover-box, .hover-line {
  opacity: 1;
}