.main {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  color: #35393c;
}

.header {
  font-size: 24px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  font-weight: lighter;
}

.subHeader {
  font-size: 15px;
}